/Makefile
/Makefile.in
/build/
/__pycache__/
*.l[ao]
*~

/config.guess
/config.status
/config.sub
/configure
/libtool
/ltmain.sh
/missing
/config_old.log
/src/.deps
*.Po
*.o
*.a
*.la
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.pyc
*.*.pyc
build-seq/CMakeFiles/CMakeDirectoryInformation.cmake
python/openTRJ.egg-info/requires.txt
.pydevproject
.settings/org.eclipse.cdt.core.prefs
.settings/org.eclipse.core.resources.prefs
build-seq/CMakeCache.txt
build-seq/cmake_install.cmake
build-seq/fitSaxs
build-seq/trjProp
build-seq/trjSaxs
build-seq/trjVoronoi
build-seq/CMakeFiles/CMakeDirectoryInformation.cmake
build-seq/CMakeFiles/CMakeOutput.log
build-seq/CMakeFiles/Makefile.cmake
build-seq/CMakeFiles/Makefile2
build-seq/CMakeFiles/TargetDirectories.txt
build-seq/CMakeFiles/TestEndianess.bin
build-seq/CMakeFiles/cmake.check_cache
build-seq/CMakeFiles/feature_tests.bin
build-seq/CMakeFiles/feature_tests.c
build-seq/CMakeFiles/feature_tests.cxx
build-seq/CMakeFiles/progress.marks
build-seq/CMakeFiles/3.11.0/CMakeCCompiler.cmake
build-seq/CMakeFiles/3.11.0/CMakeCXXCompiler.cmake
build-seq/CMakeFiles/3.11.0/CMakeDetermineCompilerABI_C.bin
build-seq/CMakeFiles/3.11.0/CMakeDetermineCompilerABI_CXX.bin
build-seq/CMakeFiles/3.11.0/CMakeSystem.cmake
build-seq/CMakeFiles/3.11.0/CompilerIdC/CMakeCCompilerId.c
build-seq/CMakeFiles/3.11.0/CompilerIdC/a.out
build-seq/CMakeFiles/3.11.0/CompilerIdCXX/CMakeCXXCompilerId.cpp
build-seq/CMakeFiles/3.11.0/CompilerIdCXX/a.out
build-seq/CMakeFiles/CheckIncludeFiles/HAVE_RPC_XDR_H.c
build-seq/CMakeFiles/CheckIncludeFiles/STDC_HEADERS.c
build-seq/CMakeFiles/CheckTypeSize/CMAKE_SIZEOF_UNSIGNED_SHORT.bin
build-seq/CMakeFiles/CheckTypeSize/CMAKE_SIZEOF_UNSIGNED_SHORT.c
build-seq/CMakeFiles/CheckTypeSize/SIZEOF_INT.bin
build-seq/CMakeFiles/CheckTypeSize/SIZEOF_INT.c
build-seq/CMakeFiles/CheckTypeSize/SIZEOF_LONG_INT.bin
build-seq/CMakeFiles/CheckTypeSize/SIZEOF_LONG_INT.c
build-seq/CMakeFiles/CheckTypeSize/SIZEOF_LONG_LONG_INT.bin
build-seq/CMakeFiles/CheckTypeSize/SIZEOF_LONG_LONG_INT.c
build-seq/CMakeFiles/fitSaxs.dir/CXX.includecache
build-seq/CMakeFiles/fitSaxs.dir/DependInfo.cmake
build-seq/CMakeFiles/fitSaxs.dir/build.make
build-seq/CMakeFiles/fitSaxs.dir/cmake_clean.cmake
build-seq/CMakeFiles/fitSaxs.dir/depend.internal
build-seq/CMakeFiles/fitSaxs.dir/depend.make
build-seq/CMakeFiles/fitSaxs.dir/flags.make
build-seq/CMakeFiles/fitSaxs.dir/link.txt
build-seq/CMakeFiles/fitSaxs.dir/progress.make
build-seq/CMakeFiles/trjProp.dir/CXX.includecache
build-seq/CMakeFiles/trjProp.dir/DependInfo.cmake
build-seq/CMakeFiles/trjProp.dir/build.make
build-seq/CMakeFiles/trjProp.dir/cmake_clean.cmake
build-seq/CMakeFiles/trjProp.dir/depend.internal
build-seq/CMakeFiles/trjProp.dir/depend.make
build-seq/CMakeFiles/trjProp.dir/flags.make
build-seq/CMakeFiles/trjProp.dir/link.txt
build-seq/CMakeFiles/trjProp.dir/progress.make
build-seq/CMakeFiles/trjSaxs.dir/CXX.includecache
build-seq/CMakeFiles/trjSaxs.dir/DependInfo.cmake
build-seq/CMakeFiles/trjSaxs.dir/build.make
build-seq/CMakeFiles/trjSaxs.dir/cmake_clean.cmake
build-seq/CMakeFiles/trjSaxs.dir/depend.internal
build-seq/CMakeFiles/trjSaxs.dir/depend.make
build-seq/CMakeFiles/trjSaxs.dir/flags.make
build-seq/CMakeFiles/trjSaxs.dir/link.txt
build-seq/CMakeFiles/trjSaxs.dir/progress.make
build-seq/CMakeFiles/trjVoronoi.dir/CXX.includecache
build-seq/CMakeFiles/trjVoronoi.dir/DependInfo.cmake
build-seq/CMakeFiles/trjVoronoi.dir/build.make
build-seq/CMakeFiles/trjVoronoi.dir/cmake_clean.cmake
build-seq/CMakeFiles/trjVoronoi.dir/depend.internal
build-seq/CMakeFiles/trjVoronoi.dir/depend.make
build-seq/CMakeFiles/trjVoronoi.dir/flags.make
build-seq/CMakeFiles/trjVoronoi.dir/link.txt
build-seq/CMakeFiles/trjVoronoi.dir/progress.make
build-seq/Execute/cmake_install.cmake
build-seq/Execute/CMakeFiles/CMakeDirectoryInformation.cmake
build-seq/Execute/CMakeFiles/progress.marks
build-seq/Execute/CMakeFiles/Execute.dir/CXX.includecache
build-seq/Execute/CMakeFiles/Execute.dir/DependInfo.cmake
build-seq/Execute/CMakeFiles/Execute.dir/build.make
build-seq/Execute/CMakeFiles/Execute.dir/cmake_clean.cmake
build-seq/Execute/CMakeFiles/Execute.dir/cmake_clean_target.cmake
build-seq/Execute/CMakeFiles/Execute.dir/depend.internal
build-seq/Execute/CMakeFiles/Execute.dir/depend.make
build-seq/Execute/CMakeFiles/Execute.dir/flags.make
build-seq/Execute/CMakeFiles/Execute.dir/link.txt
build-seq/Execute/CMakeFiles/Execute.dir/progress.make
build-seq/Execute/CMakeFiles/ExecuteFit.dir/CXX.includecache
build-seq/Execute/CMakeFiles/ExecuteFit.dir/DependInfo.cmake
build-seq/Execute/CMakeFiles/ExecuteFit.dir/build.make
build-seq/Execute/CMakeFiles/ExecuteFit.dir/cmake_clean.cmake
build-seq/Execute/CMakeFiles/ExecuteFit.dir/cmake_clean_target.cmake
build-seq/Execute/CMakeFiles/ExecuteFit.dir/depend.internal
build-seq/Execute/CMakeFiles/ExecuteFit.dir/depend.make
build-seq/Execute/CMakeFiles/ExecuteFit.dir/flags.make
build-seq/Execute/CMakeFiles/ExecuteFit.dir/link.txt
build-seq/Execute/CMakeFiles/ExecuteFit.dir/progress.make
build-seq/Execute/CMakeFiles/ExecuteSaxs.dir/CXX.includecache
build-seq/Execute/CMakeFiles/ExecuteSaxs.dir/DependInfo.cmake
build-seq/Execute/CMakeFiles/ExecuteSaxs.dir/build.make
build-seq/Execute/CMakeFiles/ExecuteSaxs.dir/cmake_clean.cmake
build-seq/Execute/CMakeFiles/ExecuteSaxs.dir/cmake_clean_target.cmake
build-seq/Execute/CMakeFiles/ExecuteSaxs.dir/depend.internal
build-seq/Execute/CMakeFiles/ExecuteSaxs.dir/depend.make
build-seq/Execute/CMakeFiles/ExecuteSaxs.dir/flags.make
build-seq/Execute/CMakeFiles/ExecuteSaxs.dir/link.txt
build-seq/Execute/CMakeFiles/ExecuteSaxs.dir/progress.make
build-seq/Molecules/cmake_install.cmake
build-seq/Molecules/CMakeFiles/CMakeDirectoryInformation.cmake
build-seq/Molecules/CMakeFiles/progress.marks
build-seq/Molecules/CMakeFiles/mols.dir/CXX.includecache
build-seq/Molecules/CMakeFiles/mols.dir/DependInfo.cmake
build-seq/Molecules/CMakeFiles/mols.dir/build.make
build-seq/Molecules/CMakeFiles/mols.dir/cmake_clean.cmake
build-seq/Molecules/CMakeFiles/mols.dir/cmake_clean_target.cmake
build-seq/Molecules/CMakeFiles/mols.dir/depend.internal
build-seq/Molecules/CMakeFiles/mols.dir/depend.make
build-seq/Molecules/CMakeFiles/mols.dir/flags.make
build-seq/Molecules/CMakeFiles/mols.dir/link.txt
build-seq/Molecules/CMakeFiles/mols.dir/progress.make
build-seq/Properties/cmake_install.cmake
build-seq/Properties/CMakeFiles/CMakeDirectoryInformation.cmake
build-seq/Properties/CMakeFiles/progress.marks
build-seq/Properties/CMakeFiles/Properties.dir/CXX.includecache
build-seq/Properties/CMakeFiles/Properties.dir/DependInfo.cmake
build-seq/Properties/CMakeFiles/Properties.dir/build.make
build-seq/Properties/CMakeFiles/Properties.dir/cmake_clean.cmake
build-seq/Properties/CMakeFiles/Properties.dir/cmake_clean_target.cmake
build-seq/Properties/CMakeFiles/Properties.dir/depend.internal
build-seq/Properties/CMakeFiles/Properties.dir/depend.make
build-seq/Properties/CMakeFiles/Properties.dir/flags.make
build-seq/Properties/CMakeFiles/Properties.dir/link.txt
build-seq/Properties/CMakeFiles/Properties.dir/progress.make
build-seq/Saxs/cmake_install.cmake
build-seq/Saxs/CMakeFiles/CMakeDirectoryInformation.cmake
build-seq/Saxs/CMakeFiles/progress.marks
build-seq/Saxs/CMakeFiles/saxs.dir/CXX.includecache
build-seq/Saxs/CMakeFiles/saxs.dir/DependInfo.cmake
build-seq/Saxs/CMakeFiles/saxs.dir/build.make
build-seq/Saxs/CMakeFiles/saxs.dir/cmake_clean.cmake
build-seq/Saxs/CMakeFiles/saxs.dir/cmake_clean_target.cmake
build-seq/Saxs/CMakeFiles/saxs.dir/depend.internal
build-seq/Saxs/CMakeFiles/saxs.dir/depend.make
build-seq/Saxs/CMakeFiles/saxs.dir/flags.make
build-seq/Saxs/CMakeFiles/saxs.dir/link.txt
build-seq/Saxs/CMakeFiles/saxs.dir/progress.make
build-seq/Voronoi/cmake_install.cmake
build-seq/Voronoi/CMakeFiles/CMakeDirectoryInformation.cmake
build-seq/Voronoi/CMakeFiles/progress.marks
build-seq/Voronoi/CMakeFiles/Voronoi.dir/CXX.includecache
build-seq/Voronoi/CMakeFiles/Voronoi.dir/DependInfo.cmake
build-seq/Voronoi/CMakeFiles/Voronoi.dir/build.make
build-seq/Voronoi/CMakeFiles/Voronoi.dir/cmake_clean.cmake
build-seq/Voronoi/CMakeFiles/Voronoi.dir/cmake_clean_target.cmake
build-seq/Voronoi/CMakeFiles/Voronoi.dir/depend.internal
build-seq/Voronoi/CMakeFiles/Voronoi.dir/depend.make
build-seq/Voronoi/CMakeFiles/Voronoi.dir/flags.make
build-seq/Voronoi/CMakeFiles/Voronoi.dir/link.txt
build-seq/Voronoi/CMakeFiles/Voronoi.dir/progress.make
build-seq/alglib/cmake_install.cmake
build-seq/alglib/CMakeFiles/CMakeDirectoryInformation.cmake
build-seq/alglib/CMakeFiles/progress.marks
build-seq/alglib/CMakeFiles/alglib.dir/CXX.includecache
build-seq/alglib/CMakeFiles/alglib.dir/DependInfo.cmake
build-seq/alglib/CMakeFiles/alglib.dir/build.make
build-seq/alglib/CMakeFiles/alglib.dir/cmake_clean.cmake
build-seq/alglib/CMakeFiles/alglib.dir/cmake_clean_target.cmake
build-seq/alglib/CMakeFiles/alglib.dir/depend.internal
build-seq/alglib/CMakeFiles/alglib.dir/depend.make
build-seq/alglib/CMakeFiles/alglib.dir/flags.make
build-seq/alglib/CMakeFiles/alglib.dir/link.txt
build-seq/alglib/CMakeFiles/alglib.dir/progress.make
build-seq/libtraj/cmake_install.cmake
build-seq/libtraj/CMakeFiles/CMakeDirectoryInformation.cmake
build-seq/libtraj/CMakeFiles/progress.marks
build-seq/libtraj/CMakeFiles/traj.dir/CXX.includecache
build-seq/libtraj/CMakeFiles/traj.dir/DependInfo.cmake
build-seq/libtraj/CMakeFiles/traj.dir/build.make
build-seq/libtraj/CMakeFiles/traj.dir/cmake_clean.cmake
build-seq/libtraj/CMakeFiles/traj.dir/cmake_clean_target.cmake
build-seq/libtraj/CMakeFiles/traj.dir/depend.internal
build-seq/libtraj/CMakeFiles/traj.dir/depend.make
build-seq/libtraj/CMakeFiles/traj.dir/flags.make
build-seq/libtraj/CMakeFiles/traj.dir/link.txt
build-seq/libtraj/CMakeFiles/traj.dir/progress.make
build-seq/voro++/cmake_install.cmake
build-seq/voro++/CMakeFiles/CMakeDirectoryInformation.cmake
build-seq/voro++/CMakeFiles/progress.marks
build-seq/voro++/CMakeFiles/voro++.dir/CXX.includecache
build-seq/voro++/CMakeFiles/voro++.dir/DependInfo.cmake
build-seq/voro++/CMakeFiles/voro++.dir/build.make
build-seq/voro++/CMakeFiles/voro++.dir/cmake_clean.cmake
build-seq/voro++/CMakeFiles/voro++.dir/cmake_clean_target.cmake
build-seq/voro++/CMakeFiles/voro++.dir/depend.internal
build-seq/voro++/CMakeFiles/voro++.dir/depend.make
build-seq/voro++/CMakeFiles/voro++.dir/flags.make
build-seq/voro++/CMakeFiles/voro++.dir/link.txt
build-seq/voro++/CMakeFiles/voro++.dir/progress.make
build-seq/xdr/cmake_install.cmake
build-seq/xdr/config.h
build-seq/xdr/CMakeFiles/CMakeDirectoryInformation.cmake
build-seq/xdr/CMakeFiles/progress.marks
build-seq/xdr/src/cmake_install.cmake
build-seq/xdr/src/CMakeFiles/CMakeDirectoryInformation.cmake
build-seq/xdr/src/CMakeFiles/progress.marks
build-seq/xdr/src/CMakeFiles/xdrfile.dir/C.includecache
build-seq/xdr/src/CMakeFiles/xdrfile.dir/DependInfo.cmake
build-seq/xdr/src/CMakeFiles/xdrfile.dir/build.make
build-seq/xdr/src/CMakeFiles/xdrfile.dir/cmake_clean.cmake
build-seq/xdr/src/CMakeFiles/xdrfile.dir/cmake_clean_target.cmake
build-seq/xdr/src/CMakeFiles/xdrfile.dir/depend.internal
build-seq/xdr/src/CMakeFiles/xdrfile.dir/depend.make
build-seq/xdr/src/CMakeFiles/xdrfile.dir/flags.make
build-seq/xdr/src/CMakeFiles/xdrfile.dir/link.txt
build-seq/xdr/src/CMakeFiles/xdrfile.dir/progress.make
python/.vscode/settings.json
python/Micelles/compVor/jsonIterator.py
python/openTRJ.egg-info/PKG-INFO
python/openTRJ.egg-info/SOURCES.txt
python/openTRJ.egg-info/dependency_links.txt
python/openTRJ.egg-info/entry_points.txt
python/openTRJ.egg-info/top_level.txt
/Release/
