/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h?
.deps/
.dirstamp
.libs/
*.l[ao]
*~

/config.guess
/config.status
/config.sub
/configure
/libtool
/ltmain.sh
/missing
/config_old.log
/src/.deps
*.Po
*.o
*.a
*.la
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

